.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    gap: 30px;
    background: linear-gradient(180deg, #FDE1FF, #e1ffea22 60%);

}
.newsletter h1{
    color: #454545;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
    text-align: center;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 70%;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 80%;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;

}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .newsletter{
        width: 100%;
        padding: 0;
        height: auto;
    }
    .newsletter div{
        width: 80%;
    }
    .newsletter h1{
        padding: 16px 16px 0 16px;
        
        font-size: 40px;
    }
    .newsletter p{
        padding: 0 16px;
    }
}