.new-collections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 80px;
}
.new-collections h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.new-collections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.new-collections-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.collections {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
/* .collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
@media screen and (max-width:1600px) {
    .collections{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
} */
@media screen and (max-width: 1200px) {
  .new-collections {
    height: auto;
  }
  .collections {
    padding: 0 30px 80px 30px;
  }
}
@media screen and (max-width: 767px) {
  .new-collections {
    align-items: normal;
    margin-top: 80px;
  }
  .new-collections h1 {
    font-size: 30px;
  }
  .collections {
    overflow-x: auto;
    padding: 0 16px 80px 16px;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: normal;
  }
}
